html,div,css,ul,li,dt,dl,body{
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}
#app {
  padding-bottom: 0.8rem;
}
#app .title {
  padding: 0.26666667rem;
  font-size: 0.53333333rem;
  text-align: center;
  color: #1E2624;
  font-weight: bold;
}
#app .come-info {
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  font-size: 0.37333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #24211F;

}
#app .podium {
  width: 5.73333333rem;
  height: 0.61333333rem;
  line-height: 0.61333333rem;
  margin-top: 0.8rem;
  font-size: 0.32rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #F0F0F0;
  color: #211E1D;
  border: 1px solid #7C7C7C;
  position: relative;
  overflow: hidden;
  margin: .6rem auto .4rem auto;
}
#app .desk-con {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  position: relative;
}
#app .desk-con .desk {
  margin-top: 0.4rem;
  width: 10.6667%;
  height: 1.06666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #211E1D;
  background-color: #B5E6B3;
}
#app .desk-con .desk.empty {
  background-color: #E0E0E0;
}
#app .desk-con .desk.even {
  margin-left: 0.02666667rem;
}
#app .desk-con .desk.uneven {
  margin-left: 2.6667%;
}
#app .desk-con .desk .student {
  font-size: 0.26666667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bottom{
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
button{
  border: none;
  outline: none;
  border-radius: 0;
}
.complete{
  width: 4rem;
  background: #12B7F5;


}
.btn{
  height: 30px;
  line-height: 30px;
  padding: 0px 16px;
  font-size: 14px;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
.cance{
  width: 4rem;
  border: 0;
  color: #bbb;
  background: #e9ebec;
  background-clip: padding-box;
}
.remain{
  width: 80%;
  /* margin-left: 10%; */
  padding: 0.3rem;
  background: #B5E6B3;
  color: #fff;
  font-size: .36rem;
}
.lineItem{
  display: flex;
  align-items: center;
}
