.webuploader-container {
    position: relative
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    /*padding: 10px 15px;*/
    /*color: #fff;*/
    text-align: center;
    border-radius: 0.05rem;
    overflow: hidden;
    width: 0.8rem;height: 0.8rem;
    border: 1px dotted #aaa;
    background: url("../images/addpic.png") no-repeat center;
    background-size: 0.64rem 0.64rem;
}

.webuploader-pick-hover {
    /*background: #00a2d4*/
}

.webuploader-pick-disable {
    opacity: .6;
    pointer-events: none
}